<div class="table-responsive-md">
    <table class="table table-secondary table-bordered table-hover">
        <thead class="table-dark ">
            <tr>
                <th scope="col">Smtr </th>
                <th scope="col">KODE MK br </th>
                <th scope="col">Nama Mata Kuliah</th>
                <th scope="col">Bobot SKS</th>
                <th scope="col">Penyelenggara<br></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">I</th>
                <td>MBB020101</td>
                <td>Ilmu Sosial dan Budaya Dasar/ISBD</td>
                <td>2</td>
                <td>Prodi TI</td>
            </tr>
            <tr>
                <th scope="row">I</th>
                <td>MKK020101</td>
                <td>Algoritma dan Pemrograman I</td>
                <td>2</td>
                <td>Prodi TI</td>
            </tr>
            <tr>
                <th scope="row">I</th>
                <td>MKK020102</td>
                <td>Prak. Algoritma dan Pemrograman I</td>
                <td>2</td>
                <td>Prodi TI</td>
            </tr>
            <tr>
                <th scope="row">I</th>
                <td>MKK020103</td>
                <td>Matematika Komputasi I</td>
                <td>3</td>
                <td>Prodi TI</td>
            </tr>
            <tr>
                <th scope="row">i</th>
                <td>MKK020104</td>
                <td>Sistem & Teknologi Informasi</td>
                <td>2</td>
                <td>Prodi TI</td>
            </tr>
            <tr>
                <th scope="row">I</th>
                <td>MKK020125</td>
                <td>Bahasa Inggris I</td>
                <td>2</td>
                <td>Universitas</td>
            </tr>
            <tr>
                <th scope="row">I</th>
                <td>MPK020101</td>
                <td>Pancasila</td>
                <td>2</td>
                <td>Universitas</td>
            </tr><tr>
                <th scope="row">I</th>
                <td>MPK020102</td>
                <td>Pendidikan Agama Islam I</td>
                <td>2</td>
                <td>Universitas</td>
            </tr>
            <tr>
                <th scope="row">I</th>
                <td>MPK020105</td>
                <td>Bahasa Indonesia</td>
                <td>2</td>
                <td>Universitas</td>
            </tr>
            <tr>
                <th scope="row">II</th>
                <td>MKK020105</td>
                <td>Algoritma dan Pemrograman II</td>
                <td>2</td>
                <td>Prodi TI</td>
            </tr>
            <tr>
                <th scope="row">II</th>
                <td>MKK020106</td>
                <td>Prak. Algoritma dan Pemrograman II</td>
                <td>2</td>
                <td>Prodi TI</td>
            </tr>
            <tr>
                <th scope="row">II</th>
                <td>MKK020108	</td>
                <td>Matematika Komputasi II</td>
                <td>3</td>
                <td>Prodi TI</td>
            </tr>
            <tr>
                <th scope="row">II</th>
                <td>MKK020126</td>
                <td>Bahasa Inggris II</td>
                <td>2</td>
                <td>Universitas</td>
            </tr>
            <tr>
                <th scope="row">II</th>
                <td>MPK020104</td>
                <td>Pendidikan Kewarganegaraan</td>
                <td>2</td>
                <td>Universitas</td>
            </tr>
            <tr>
                <th scope="row">II</th>
                <td>MKB020104</td>
                <td>Sistem Operasi</td>
                <td>3</td>
                <td>Prodi TI</td>
            </tr>
            <tr>
                <th scope="row">II</th>
                <td>MKK020112</td>
                <td>Struktur Data</td>
                <td>2</td>
                <td>Prodi TI</td>
            </tr>
            <tr>
                <th scope="row">II</th>
                <td>MKK020113</td>
                <td>Praktikum Struktur Data</td>
                <td>2</td>
                <td>Prodi TI</td>
            </tr>
            <tr>
                <th scope="row">II</th>
                <td>MKB020101</td>
                <td>Arsitektur dan Organisasi Komputer</td>
                <td>3</td>
                <td>Prodi TI</td>
            </tr>
            <tr>
                <th scope="row">III</th>
                <td>MKK020111</td>
                <td>Matematika Komputasi III</td>
                <td>3</td>
                <td>Prodi TI</td>
            </tr>
            <tr>
                <th scope="row">III</th>
                <td>MKK020114</td>
                <td>Metode Nomerik</td>
                <td>3</td>
                <td>Prodi TI</td>
            </tr>
            <tr>
                <th scope="row">III</th>
                <td>MPB020101</td>
                <td>Pendidikan Anti Korupsi</td>
                <td>2</td>
                <td>Universitas</td>
            </tr>
            <tr>
                <th scope="row">III</th>
                <td>MPK020106</td>
                <td>Pend. Aswaja</td>
                <td>2</td>
                <td>Universitas</td>
            </tr>
            <tr>
                <th scope="row">III</th>
                <td>MKB020102</td>
                <td>Basis Data</td>
                <td>3</td>
                <td>Prodi TI</td>
            </tr>
            <tr>
                <th scope="row">III</th>
                <td>MKB020103</td>
                <td>Pemrograman Web</td>
                <td>3</td>
                <td>Prodi TI</td>
            </tr>
            <tr>
                <th scope="row">III</th>
                <td>MKB020105</td>
                <td>Pemrograman Berorientasi Objek</td>
                <td>2</td>
                <td>Prodi TI</td>
            </tr>
            <tr>
                <th scope="row">III</th>
                <td>MKB020106</td>
                <td>Prak. Pemrog. Berorientasi Objek</td>
                <td>2</td>
                <td>Prodi TI</td>
            </tr>
            <tr>
                <th scope="row">IV</th>
                <td>MKK020115</td>
                <td>Analisa Algoritma</td>
                <td>3</td>
                <td>Prodi TI</td>
            </tr>
            <tr>
                <th scope="row">IV</th>
                <td>MKB020108</td>
                <td>Rekayasa Perangkat Lunak</td>
                <td>3</td>
                <td>Prodi TI</td>
            </tr>
            <tr>
                <th scope="row">IV</th>
                <td>MKK020118</td>
                <td>Mobile Programing</td>
                <td>3</td>
                <td>Prodi TI</td>
            </tr>
            <tr>
                <th scope="row">IV</th>
                <td>MKK020120</td>
                <td>Grafika Komputer</td>
                <td>3</td>
                <td>Prodi TI</td>
            </tr>
            <tr>
                <th scope="row">IV</th>
                <td>MKB020109</td>
                <td>Pemrograman Basis Data Client</td>
                <td>3</td>
                <td>Prodi TI</td>
            </tr>
            <tr>
                <th scope="row">IV</th>
                <td>MKK020129</td>
                <td>Sistem Pendukung Keputusan</td>
                <td>3</td>
                <td>Prodi TI</td>
            </tr>
            <tr>
                <th scope="row">V</th>
                <td>MBB020103</td>
                <td>Kerja Praktek Industri</td>
                <td>20</td>
                <td>Prodi TI</td>
            </tr>
            <tr>
                <th scope="row">VI</th>
                <td>MBB020102</td>
                <td>KKN Tematik</td>
                <td>20</td>
                <td>LPPM</td>
            </tr>
            <tr>
                <th scope="row">VI</th>
                <td>MKB020114</td>
                <td>Metodologi Penelitian</td>
                <td>2</td>
                <td>Prodi TI</td>
            </tr>
            <tr>
                <th scope="row">VII</th>
                <td>MKK020121</td>
                <td>Riset Operasi</td>
                <td>2</td>
                <td>Prodi TI</td>
            </tr>
            <tr>
                <th scope="row">VII</th>
                <td>MKK020123</td>
                <td>Sistem Informasi Geografis</td>
                <td>2</td>
                <td>Prodi TI</td>
            </tr>
            <tr>
                <th scope="row">VII</th>
                <td>MKK020124</td>
                <td>Pengaman Sistem Komputer</td>
                <td>2</td>
                <td>Prodi TI</td>
            </tr>
            <tr>
                <th scope="row">VII</th>
                <td>MKB20128</td>
                <td>Seminar TA</td>
                <td>3</td>
                <td>Prodi TI</td>
            </tr>
            <tr>
                <th scope="row">VII</th>
                <td>Pilihan</td>
                <td>Matakuliah Pilihan</td>
                <td>3</td>
                <td>Prodi TI</td>
            </tr>
            <tr>
                <th scope="row">VIII</th>
                <td>MKB020117</td>
                <td>Tugas Akhir</td>
                <td>6</td>
                <td>Fakultas</td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td>144</td>
                <td></td>
            </tr>     
            
        </tbody>
    </table>
    <div class="prev-nextBtn">
        <button id="prevBtn" onclick="previousPage()">Sebelumnya</button>
        <button id="nextBtn" onclick="nextPage()">Selanjutnya</button>
        <span id="pageInfo"></span>
    </div>
</div>