
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid rgb(17, 4, 4);
    padding: 3px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(22, 23, 24);
    color: white;
}

#customers #mid {
    text-align: center;
}

#customers #up {
    background-color: blue;
    border-color: white;
    border-radius: 5px;
    padding: 8px;
    color: white;
}

#customers #del {
    background-color: red;
    border-color: white;
    border-radius: 5px;
    padding: 8px;
    color: white;
}

#customers button {
    width: 100%;
}

.container1,
.container2{
    z-index: 100;
    color:white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container1 #new {
    background-color: blue;
    border-color: rgb(85, 85, 255);
    border-radius: 5px;
    padding: 8px;
    color: white;
}

.container2 #new1 {
    background-color: blue;
    border-color: rgb(85, 85, 255);
    border-radius: 5px;
    padding: 8px;
    color: white;
}

.container1 h1,
.container2 h1 {
    color:white ;
    font-size: 20px ;
    background-color: red;
    width: 235px;
    margin: auto;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container1 input {
    padding: 8px;
}

.container2 input {
    padding: 8px;
}

.container1 {
    margin: 80px 240px 60px 240px;
    padding: 0px 100px 100px 100px;
}

.container2 {
    margin: 80px 240px 60px 240px ;
    padding: 0px 100px 100px 100px;
    
}

.container-crud #new3 {
    padding: 8px;
    background-color:blue;
    color: white;
    border-radius: 4px;
    border-color:rgb(85, 85, 255);
}

.container-update,
.container-add {
    background-image: url('/static/image/uim2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    
}

