.prev-nextBtn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
  
#prevBtn,
#nextBtn {
    padding: 10px;
    font-size: 14px;
    background-color: gold;
}

#prevBtn:hover,
#nextBtn:hover {
    background-color:rgb(248, 238, 180);
}
  
#pageInfo {
    margin-top: 10px;
    font-size: 14px;
}
   